body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: var(--red-text);
  margin-right: 100px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

input[type="button"] {
  border: none;
  outline: none;
}

figure {
  margin: 0;
}

:root {
  --primary: #911c1c;
  --secondary: #d3573c;
  --red-text: #901c1c;
  --gray-text: #525252;
  --gray-background: #c4c4c4;
  --gray-header: #fafafa;
  --orange-footer: #db8876;
  --white: #ffffff;
  --black: #000000;
}
