.ModalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--white);
  position: relative;
  height: 90vh;
}
.IconButton {
  width: 45px;
}
.Icon {
  color: var(--primary);
  width: 35px !important;
  height: 35px !important;
  margin: 5px;
}
.Icon:hover {
  color: var(--secondary);
}
.CloseButton {
  position: absolute !important;
  top: 0;
  right: 0;
  background-color: white;
  border: unset;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.PhotoContainer {
  padding: 25px 0 10px 0;
}

.PhotoContainer img,
.PhotoContainer video {
  max-width: 100%;
  height: calc(90vh - 70px);
  object-fit: cover;
  border-radius: 5px;
}
.PhotoContainer figcaption {
  padding: 5px 0 10px 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: var(--primary);
}
